* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0.5em 0;
}

.container H2{
  padding: 30px 30px;
  text-align: center;
  font-size: 4em;
}

.container {
  width: 80%;
  margin: 0 auto;

}

#works{
  
  background-image: url(./img1/bgimg.png);

}

#works .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#works .col {
  width: 32%;
  aspect-ratio: 4/3;
  /* outline: 1px solid red; */
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

#works .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container ul{
  display: flex;
  border: 1px solid #000;
  list-style-type: none;
  text-decoration: none;
  align-items: center;

}